#homepageContainer {
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

#aboutUs {
    display: flex;
    margin-top: 100px;
    margin-right: 10px;
    margin-bottom: 50px;
    width: 550px;
    height: 490px;
    padding: 5px;
    display: block;
    position: relative;
    border: 5px solid #614035;
    background-color: #FFFAF3;
}

#aboutInfo {
    float: left;
}

#aboutUs>h2 {
    color: #614035;
}

#aboutInfo>p {
    float: left;
    width: 290px;
    height: 100%;
    margin: 5px;
    font-size: 18px;
    font-family: Andale Mono, AndaleMono, monospace, arial;
    overflow: hidden;
}

#aboutImage {
    float: right;
    width: 220px;
}

#aboutImage>img {
    max-width: 100%;
    max-height: 100%;
}

#openingHours {
    margin-left: 10px;
    margin-top: 100px;
    width: 300px;
    height: 100px;
    border: 5px solid #401616;
    padding: 10px;
    background-color: #602121;
}

#openingTitle {
    margin-left: auto;
    margin-right: auto;
    font-family: Andale Mono, AndaleMono, monospace, arial;
    text-align: center;
}

#openingTitle>h3 {
    margin: 0px;
    color: #FFFFFF;
}

#openingTimes {
    font-family: Andale Mono, AndaleMono, monospace, arial;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    margin: 0px;
}

#openingTimes>p {
    color: white;
}

#homepageDaily {
    margin-top: 20px;
    margin-left: 10px;
    width: 320px;
    height: 350px;
    border: 5px solid #614035;
    background-color: #FFFAF3;

}

#homepageDaily>h1 {
    line-height: 1em;
    margin: 10px;
}

#homepageDaily>h2 {
    font-family: Andale Mono, AndaleMono, monospace, arial;
    color: #602121;
    padding: 0px;
    margin: 0px;
    line-height: 1em;
}

#homepageDaily>p {
    width: 150px;
    font-family: Andale Mono, AndaleMono, monospace, arial;
    font-size: small;
    color: #602121;
    padding: 10px;
    margin: 0px;
}

#todayHeader {
    font-size: 50px;
    margin: 0px;
    padding: 5px;
    text-align: center;
}

#homepageDaily>img {
    float: right;
    max-width: 50%;
    padding: 5px;
    margin-top: 10px;
}

#homepageDaily>#price {
    float: left;
    font-size: 35px;
    padding-left: 15px;
    padding-top: 20px;
    font-family: Andale Mono, AndaleMono, monospace, arial;
    color: #404E31;
}

#homepageDaily>#menuLink {
    float: right;
}

#homepageDaily>#menuLink>img {
    max-height: 65px;
    margin: 10px;
}

#dailyMenu {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 1100px) {
    #homepageContainer {
        flex-direction: column;
    }

    #aboutUs {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }

    #rightSide {
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
    }
}
