@import url("header.css");
@import url("reviews.css");
@import url("daily_menu.css");
@import url("homepage.css");
@import url("contact_us.css");
@import url("menu.css");

/*Generell css*/
html {
  overflow-y: scroll;
}

body {
  margin: 0;
  overflow: hidden;
  background-image: url("../media/bg.jpg"),
  linear-gradient(rgba(27, 17, 17, 0.7), rgba(27, 17, 17, 0.7));
  background-blend-mode: overlay;
  background-size: 100%;
  background-attachment: fixed;
}

h1,
h2,
h3 {
  font-family: Andale Mono, monospace, arial;
  color: #614035;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

p {
  font-family: Andale Mono, monospace, arial;
  color: black;
  font-size: 12pt;
}

label {
  font-family: Andale Mono, monospace, arial;
  color: black;
}

/* Kode for footer under */
.footer {
  background-color: #404e31;
  opacity: 0.9;
  padding: 30px;
  position: sticky;
  bottom: 0;
  width: 100%;
}
