@import url("header.css");
@import url("reviews.css");
@import url("daily_menu.css");

/* Kode for footer og header under */
.footer {
  background-color: #404e31;
  opacity: 0.9;
  padding: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/*Kode for noe annet under */
